.naver {
  background-image: url("../asset/favicon/naver.png");
}

.youtube {
  background-image: url("../asset/favicon/youtube.png");
}

.tving {
  background-image: url("../asset/favicon/tving.png");
}

.wavve {
  background-image: url("../asset/favicon/wavve.png");
}

.fastcampus {
  background-image: url("../asset/favicon/fastcampus.png");
}