body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #e0e0e0;
  color: #222;
  font-family: 'NanumSquareNeo';
  /* font-family: 'NanumSquareNeoLight';
  font-family: 'NanumSquareNeo';
  font-family: 'NanumSquareNeoBold';
  font-family: 'NanumSquareNeoExtraBold';
  font-family: 'NanumSquareNeoHeavy'; */
  overflow: hidden;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
  color: #222;
}

button {
  border: none;
  outline: none;
}

/* LOGIN */
#login-form {
  text-align: center;
} 

#login-form span {
  display: block; 
  margin-bottom: 60px;
  font-size: 32px;
}

#login-form input {
  width: 400px;
  height: 50px;
  padding-bottom: 10px;
  box-sizing: border-box;
  outline: none; 
  border: none;
  border-bottom: 5px solid #222;
  background-color: transparent;
  color: #222;
  font-size: 32px;
  text-align: center;
}

/* LEFTBAR */
.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.material-icons {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

#container {
  width: 1216px;
  height: 684px;
}

/* GREETING */
#greeting {
  display: block;
  font-family: 'NanumSquareNeoBold';
  font-size: 24px;
  margin-bottom: 20px;
}

.boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 640px;
}

/* LEFT */
.left-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 490px;
  height: 640px;
  margin-right: 50px;
  box-sizing: border-box;
}

/* LEFT-CLOCK */
.clocks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 16px;
  background: #222;
  color: #fff;
  text-align: left;
}

#date {
  font-size: 32px;
}

#clock {
  font-family: 'NanumSquareNeoBold';
  font-size: 70px;
}

/* LEFT-TOOLS */
.tools {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: #fff;
}

.tool-item {
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 20px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tool-item:last-child {
  margin-right: 0;
}

/* LEFT-TODO */
.todo {
  width: 100%;
  height: 370px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 16px;
  background-color: #fff;
}

#todo-form input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #222;
  background-color: #fff;
  outline: none;
  color: #222;
  font-size: 18px;
}

#todo-list {
  list-style: none;
  height: 285px;
  margin-top: 15px;
  font-size: 18px;
  overflow-y: scroll;
}

#todo-list li {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 10px;
}

#todo-list li input[type=checkbox]{
  display: none;
}
                                                                                                                             
#todo-list li label {
  display: flex;
  position: relative;
  align-items: center;
}

#todo-list li .todo__text {
  font-size: 18px;
}

#todo-list li label::before {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  margin-right: 10px;
  border: 2px solid #222;
  border-radius: 4px;
  content: "";
}

#todo-list li input[type="checkbox"]:checked + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  font-size: 10px;
  content: "✔";
}

#todo-list li input[type="checkbox"]:checked + label + .todo__text {
  color: #828282;
  text-decoration: line-through;
}

#todo-list li .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-left: 10px;
  color: #222;
  font-size: 18px;
  cursor: pointer;
}

/* TODO-SCROLLBAR */
#todo-list::-webkit-scrollbar{
  width: 10px;
}

/* TODO-SCROLLBAR THUMB */
#todo-list::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background-color: #222;
}

/* TODO-SCROLLBAR BACKGROUND */
#todo-list::-webkit-scrollbar-track{
  background-color: #e0e0e0;
}

/* RIGHT */
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 676px;
  height: 640px;
  box-sizing: border-box;
}

/* RIGHT-SEARCH */
.search-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.search-top .engine-title {
  font-size: 35px;
  font-weight: bolder;
}

.toggle-switch {
  display: block;
  position: absolute;
  right: 0;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #222;
  cursor: pointer;
}

.toggle-switch .toggle-button {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  transform: translateY(-50%);
}

.toggle-switch.active {
  background: #fff;
}

.toggle-switch.active .toggle-button {
  left: calc(100% - 29px);
  background-color: #222;
}

.toggle-switch, .toggle-button {
  transition: all 0.2s ease-in;
}

#search-form {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

#search-form span {
  position: absolute;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
}

.search-input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 50px;
  border: none;
  border-radius: 16px; 
  font-size: 20px;
}

.search-input:focus {
  outline: none;
}

/* LINK */
.links {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  list-style: none;
  width: 100%;
  height: 510px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 16px;
  background-color: #fff;
}

/* 추후 필요시 업뎃 */
/* 
.link_pagination {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.link_pagination > li {
  color: #2f2f2f;
  cursor: pointer;
  font-size: 25px;
}

.link_pagination > li.active {
  color: #05b1d2;
} */

.link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 121.2px;
  height: 120px;
  margin-right: 10px;
  box-sizing: border-box;
}

.link-item:nth-child(5n) {
  margin-right: 0;
}

.item__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 3px solid #222;
  border-radius: 100px;
  background-color: #fff;
  color: #222;
  font-size: 30px;
}

.item__thumb .favicon {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item__title {
  font-size: 15px;
  color: 222;
  position: absolute;
  bottom: 15px;
}

#link-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 121.2px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 16px;
  border: none;
  color: #fff;
  background-image: url("../img/pattern_m.png");
  background-position: center;
}

#link-add-button .item__thumb {
  border: none;
  background-color: #fff; 
  color: #222;
}

.link-item .link-more-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 36px;
  color: #222;
  font-size: 20px;
  text-align: right;
}

.link-item .link-more-button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* LINK ADD POPUP */
.link-add-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.link-add-modal {
  position: relative;
  width: 500px;
  height: 250px;
  padding: 15px;
  border-radius: 16px;
  background-color: #fff;
}

.link-add-modal span {
  display: block;
  margin-bottom: 15px;
  font-family: 'NanumSquareNeoBold';
  font-size: 18px;
}

.link-add-modal form span {
  color: #828282;
  font-size: 15px;
}

.link-add-modal input[type=text] {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #828282;
  outline: none;
}

.link-add-modal input[type=text]:focus {
  border-bottom: 3px solid #222;
}

.link-add-modal .modal-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 30px;
  background-color: #828282;
  border: none;
  border-radius: 4px;
  color: #000;
}

.link-add-modal .modal-button:nth-child(5) {
  right: 80px;
  background-color: #828282;
}

/*LINKMENU*/
#link-more-drop {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
  width: 100px;
  height: 70px;
  box-sizing: border-box;
  padding: 5px;
  background-color: #222;
}

#link-more-drop .drop__item {
  width: 90px;
  height: 30px;
  border: none;
  background-color: #222;
  color: #e0e0e0;
  font-size: 12px;
}

#link-more-drop .drop__item:hover {
  color: #fff;
}

/* LINKS-FOLDER */
.folders {
  position: absolute;
  right: -40px;
  top: 150px;
}

.folder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #222; 
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.folder-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  color: #222;
  font-size: 25px;
  cursor: pointer;
}

.folder-button:first-child {
  border-top-right-radius: 16px;
}

.folder2 {
  color: #454545;
}

.folder3 {
  color: #747474;
}

.folder4 {
  color: #a3a3a3;
}

.folder5 {
  color: #d2d2d2;
}

.folder_active {
  background-color: #222;
  color: #fff;
}

.folder-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  right: -60px;
  z-index: 3;
  width: 70px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 12px;
}

.disabled {
  background-color: #828282;
}

.hidden {
  display: none;
}

